====================================
    Linux Health Check Report
====================================

Hostname : {{ hostname_output.stdout }}

IP Address : {{ ip_output.stdout }}

Kernal Version : {{ kernal_output.stdout }}

Uptime : {{ uptime_output.stdout }}

Memory Usage: {{ memory_output.stdout }}

Disk Usage : {{ disk_output.stdout }}

Nginx Status : {{ nginx_output.stdout }}

CPU Load : {{ cpu_output.stdout }}

Kernal Version : {{ kernal_output.stdout }}

Logged in users : {{ users_output.stdout }}

Last boot time : {{ boot_output.stdout }}
 
